# dependencies
bower_components/
node_modules/
vendor/

# package manager files
npm-debug.log*
yarn-error.log
yarn.lock_
shrinkwrap.yaml

# development
tsconfig.tsbuildinfo

# project specific
*.js.map
todo.md
